.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  position: sticky;
  top: 0;
  border: solid 1px rgba(255, 0, 0, 0.253);
}

.profile-image {
  position: absolute;
  top: 1.5rem;
  max-height: 80dvh;
}

.about-me-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  /* background-color: blue; */
  color: rgb(238, 238, 238);
  padding: 0.5rem;
  text-shadow: 1px 1px 2px black;
  z-index: 998;
  /* border: solid 1px red; */
}

.gaz647 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
  opacity: 0.7;
}

.front-end {
  font-size: 1.8rem;
  margin: 0.25rem 0;
  font-weight: bold;
}

.in-love {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.heart {
  color: red;
  margin: 0 0.25rem;
  font-size: 1.3rem;
}
