.about-me {
  position: relative;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 0;
  background-image: radial-gradient(
    rgba(250, 250, 250, 0.25) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
}

.about-me-inner-container {
  height: 100%;
  width: 100%;
}

.about-me-object-container {
  width: 90%;
  max-width: 600px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 1rem;

  color: whitesmoke;

  font-size: clamp(1.3rem, 4vw, 2.25rem);
}

.object-item-container {
  width: 100%;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-and-end-of-object {
  width: 100%;
  text-align: left;
  padding: 0.5rem 0;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.object-icon-container {
  display: flex;
  margin-right: 0.5rem;
  font-size: clamp(1.2rem, 4vw, 1.7rem);
}

.card-icon {
  color: rgb(211, 163, 105);
}

.work-icon {
  color: gold;
}

.code-icon {
  color: limegreen;
}

.heart-icon {
  color: rgb(231, 20, 90);
}

.social-icon {
  color: rgb(52, 137, 233);
}

.semi-colon {
  font-weight: bold;
  margin: -2px 0.5rem 0 0.5rem;
}

.object-key-value {
  width: 100%;
  padding: 0 0.5em;
  margin: 0.6em 0;

  text-align: center;
  font-size: clamp(1.3rem, 4vw, 2.25rem);
  letter-spacing: 1.5px;
  font-weight: 400;
}

.gaz647 {
  font-weight: 400;
}

.social-icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icon-container-icon {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 2rem);
  margin: 0 0.3em;
}

.social-icon-a {
  color: inherit;
}

.object-slider-container {
  width: 80%;

  /* border: solid 1px red; */
  display: block;
  margin: 0.6em auto;
}

/* ---------------------------------------------------------------- */

@media (min-width: 700px) {
}

/* ---------------------------------------------------------------- */

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
}

/* ---------------------------------------------------------------- */

@media (min-width: 1500px) {
}

/* -------------------------TECH STACK----------------------------- */

@keyframes slideIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
