.my-projects {
  position: relative;
  z-index: 998;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  background-color: rgb(240, 240, 240);

  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 30px 30px;
}
