.tech-stack {
  position: sticky;
  z-index: 997;
  top: 0;
  width: 100%;
  min-height: 150dvh;
  padding: 0 0 50dvh 0;
  /* background-color: var(--black); */
  background-color: #000000;
}

@keyframes myAnim {
  0% {
  }
  50% {
  }
}

.tech-stack-inner-container {
  background: var(--black);
  background-color: #000000;
  /* background: linear-gradient(
    0deg,
    var(--black) 0%,
    rgba(234, 5, 255, 0.15) 50%,
    var(--black) 100%
  ); */
}

.tech-stack-item {
  color: var(--violin-neon);
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
  background: rgb(18, 18, 18);
  border: solid 2px var(--violin-neon);
  -webkit-box-shadow: 0px 0px 10px var(--violin-neon);
  box-shadow: 0px 0px 10px var(--violin-neon);
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes scaleStack {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.tech-stack-animation-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  opacity: 0;
}

.tech-stack-animation {
  opacity: 0;
  animation: slideIn 1s 0.3s linear forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
