.navbar {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.navbar-language-btn {
  color: rgba(245, 245, 245, 0.445);
  padding: 0.5rem;
  cursor: pointer;
}

.active-btn {
  color: var(--violin-neon);
}

.navbar-language-btns-container {
  display: flex;
  margin: 0.5rem 0.5rem 0 0;
  visibility: hidden;
}

.navbar-language-btns-container-visible {
  visibility: visible;
}
