.navbar {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.navbar-circle-language-btns-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  visibility: hidden;
}

.navbar-circle-language-btns-container-visible {
  visibility: visible;
}

.circle-language-flag-btn {
  margin: 1.25rem 1.25rem 0 0;
  cursor: pointer;
}

.flag-svg {
  width: 1.5rem;
  height: 1.5rem;
}

.flag-svg-active {
  width: 1.7rem;
  height: 1.7rem;
}

.inactive-circle-btn {
  filter: grayscale(100%);
}
