:root {
  --black: rgb(10, 10, 10);
  --violin-neon: rgb(234, 5, 255);

  --fs-main-heading: 2rem;
  --heading-margin: 2rem 0 3rem 0;
}

@media (min-width: 400px) {
  :root {
    --fs-main-heading: 2.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-main-heading: 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  letter-spacing: 0.05rem;
}

body {
  background-color: #12161a;
  /* font-family: Ubuntu, Roboto, Arial; */
  min-height: 100dvh;
  font-family: "Roboto", sans-serif, Ubuntu;
  letter-spacing: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 1320px;
  max-width: 100%;
  /* padding: 0 0.5rem; */
  margin: 0 auto;
  overflow-x: hidden;
}

.black-container {
  background-color: rgb(8, 8, 8);
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.404);
  border: solid 1px rgba(238, 130, 238, 0.03);
  color: rgb(238, 238, 238);
  z-index: 999;
}

.scale-icon:hover {
  animation: scaleIcon linear 0.5s forwards;
}

@keyframes scaleIcon {
  100% {
    transform: scale(1.2);
  }
}
